@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Estilos globais */

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    html, body {
        @apply h-full w-full dark:bg-dark-background-950 bg-light-background-100 dark:text-white text-black
    }
    main {
        @apply w-full h-full
    }
    *::-webkit-scrollbar-thumb {
        @apply dark:bg-light-background-200 border-r-[14px]
        
    }

    *::-webkit-scrollbar-track {
        @apply dark:bg-light-background-900 border-r-[5px]
    }

    *::-webkit-scrollbar{
        @apply w-[8px]
    }
}

main{
    min-height: 100vh;
}

.container {
    @apply mx-auto w-full max-w-[1200px] px-6
}

button {
    border: none;
}

a { text-decoration: none; }

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}